
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100%;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #fff;
}

#wrapper{
    width: 100%;
    margin: 0 auto;
}

#header{
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0);
    position: sticky;
    top: 0;
}

.flext-container{
    display: flex;
    /* flex-wrap: row wrap; */
}

h1{
    margin: 0;
}

#nav{
    text-align: right;
    padding: 0;
}
#nav li{
    display: inline-block;
    list-style-type: none;
    margin-top: .25em;
}
#nav li a{
    background-image: linear-gradient(to bottom right, rgb(140, 0, 215) 0%, rgb(28, 236, 255) 100%);
    border-radius: 5px;
    border: 2px solid #ffffff;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: .5em 1em;
    transition: border 200ms, color 200ms;
}
#nav li a:hover,
#nav li a.current{
    background-image: linear-gradient(to bottom right, rgb(255, 223, 15) 0%, rgb(28, 236, 255) 100%);
    border-radius: 25px;
    border: 2px solid #000000;
    color: #000000;
}

.title-center{
    font-size: 50px;
    z-index: 1;
    padding: 230px 0px;
    text-shadow: 2px 2px 6px #000;
    display: block;
}

.parallax{
    background-image: url("images/apartment.jpeg");
    height: 1000px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.box{
    border-radius: 25px;
    margin: 0 auto;
    border: 3px solid #ffffff;
    font-size:36px;
    color: #ff00e6;
}